<ul>
    <li>
        <a href="/coins">Cadastro de moedas </a>
    </li>

    <li>
        <!-- `/rails/info/routes` para acessar quais são os paths-->

        <%= link_to "Cadastro de moedas", coins_path %>
    </li>
</ul>